body {
    margin: 0;
    padding: 0;
    background: url(/assets/justice-bg.jpg) no-repeat;
    background-size: cover;
    font-family: 'Courier New', Courier, monospace;
}

.box {
    width: 800px;
    background: rgba(0, 0, 0, 0.4);
    padding: 25px;
    text-align: center;
    margin: auto;
    margin-top: 2%;
    color: white;
    font-family: 'Kanit', sans-serif;

}



.box h1 span {
    font-family: cursive;
}

.box-img {
    border-radius: 50%;
    width: 200px;
    height: 172px;
    width: 25%;
}

.box h1 {
    font-size: 40px;
    letter-spacing: 4px;
    font-weight: 100;
}

.box h5 {

    font-size: 20px;
    letter-spacing: 3px;
    font-weight: 100;

}

.box p {
    text-align: justify;
}

table,
td,
th,
tr {
    border: 1px solid rgb(255, 255, 255) !important;
}

table {
    width: 100%;
    caption-side: bottom;
    border-collapse: collapse;
    text-align: center;
}

th {
    font-size: 16px;
    text-transform: uppercase;
}

.button {
    background-color: #4CAF50;
    /* Green */
    border: none;
    color: white;
    padding: 4px 21px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button1 {
    background-color: #fff;
    color: black;
    border: 2px solid #fff;
}

.button1:hover {
    background-color: #4CAF50;
    color: white;
}

p.footer {
    text-align: center;
    padding-top: 34px;

}

p.footer .strike {
    text-decoration: line-through;
}
@media (max-width: 576px) {
    .box {
        width: 100%;
        background: rgba(0, 0, 0, 0.4);
        padding: 25px;
        text-align: center;
        margin: auto;
        margin-top: 2%;
        color: white;
        font-family: 'Kanit', sans-serif;

    }

    .box-img {
        border-radius: 50%;
        width: 200px;
        height: 205px;
        width: 60%;
    }


}

/* 
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
@media only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px) {

    /* Force table to not be like tables anymore */
    table,
    thead,
    tbody,
    th,
    td,
    tr {
        display: block;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    tr {
        border: 1px solid #ccc;
    }

    td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
    }

    td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
    }

    /*
	Label the data
	*/
    td:nth-of-type(1):before {
        content: "First Name";
    }

    td:nth-of-type(2):before {
        content: "Last Name";
    }

    td:nth-of-type(3):before {
        content: "Job Title";
    }

    td:nth-of-type(4):before {
        content: "Favorite Color";
    }

    td:nth-of-type(5):before {
        content: "Wars of Trek?";
    }

    td:nth-of-type(6):before {
        content: "Secret Alias";
    }

    td:nth-of-type(7):before {
        content: "Date of Birth";
    }

    td:nth-of-type(8):before {
        content: "Dream Vacation City";
    }

    td:nth-of-type(9):before {
        content: "GPA";
    }

    td:nth-of-type(10):before {
        content: "Arbitrary Data";
    }
}